<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="schedulerFactoryBean"
            class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="amqpItemReaderTrigger"/>
            </list>
        </property>
    </bean>


    <bean
            id="amqpItemReaderTrigger"
            class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property
                name="jobDetail"
                ref="amqpItemReaderJobDetail"/>
        <property
                name="cronExpression"
                value="0/60 * * * * ?"/>
    </bean>

    <bean
            id="amqpItemReaderJobDetail"
            class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="amqpItemReaderJobImpl"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
    </bean>


</beans>