<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 登录入口 -->
    <bean id="loginUrlEntryPoint" class="com.beauty.security.AjaxLoginUrlAuthenticationEntryPoint">
        <constructor-arg name="ajaxInvalidSessionUrl" value="/pages/bracket/login.jsp"/>
    </bean>

    <!-- 验证调用链 -->
    <bean id="selfDefinedFilterInvocationInterceptor"
          class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <!-- securityMetadataSource>安全资源管理 -->
        <property name="securityMetadataSource" ref="securityMetadataSource"/>
        <!-- authenticationManager>认证管理 -->
        <property name="authenticationManager" ref="authenticationManager"/>
        <!-- accessDecisionManager>访问决策管理 -->
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
    </bean>


    <!-- form-login实现，登陆成功、失败的具体处理逻辑 -->
    <bean id="selfDefinedFormLoginFilter"
          class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler">
            <bean class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
                <property name="alwaysUseDefaultTargetUrl" value="true"/>
                <property name="defaultTargetUrl" value="/redirect/redirect/pages.bracket.index/jsp.action"/>
                <property name="targetUrlParameter" value="redirectTo"/>
            </bean>
        </property>
        <property name="authenticationFailureHandler">
            <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <property name="defaultFailureUrl" value="/pages/bracket/login.jsp?error=true"/>
            </bean>
        </property>
        <property name="rememberMeServices">
            <bean id="persistentRememberMeServices"
                  class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
                <constructor-arg name="key" value="beauty"/>
                <property name="parameter" value="_spring_security_remember_me"/>
                <property name="cookieName" value="remember_user"/>
                <constructor-arg name="userDetailsService" ref="myUserDetailsService"/>
                <constructor-arg name="tokenRepository">
                    <bean class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
                        <property name="createTableOnStartup" value="false"/>
                        <property name="dataSource" ref="dataSource"/>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>


    <!-- 支持ajax请求权限处理的自定义实现 -->
    <bean id="selfDefinedAccessDeniedHandler" class="com.beauty.security.AjaxAccessDeniedHandlerImpl">
        <property name="errorPage" value="/errors/accessDenied.html"/>
    </bean>


    <!-- 认证管理 -->
    <bean id="selfDefinedAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="myUserDetailsService"/>
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>




</beans>