<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.mapper.BeautySchemaColumnsMapper" >
  <resultMap id="BaseResultMap" type="com.beauty.entity.BeautySchemaColumns" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="def1" property="def1" jdbcType="VARCHAR" />
    <result column="def2" property="def2" jdbcType="VARCHAR" />
    <result column="def3" property="def3" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, data, column_name, title, remark, create_time, creater, last_update_time, modifier, 
    is_deleted, def1, def2, def3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from beauty_schema_columns
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from beauty_schema_columns
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.beauty.entity.BeautySchemaColumns" >
    insert into beauty_schema_columns (id, data, column_name, 
      title, remark, create_time, 
      creater, last_update_time, modifier, 
      is_deleted, def1, def2, 
      def3)
    values (#{id,jdbcType=BIGINT}, #{data,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, 
      #{def3,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beauty.entity.BeautySchemaColumns" >
    insert into beauty_schema_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="def1 != null" >
        def1,
      </if>
      <if test="def2 != null" >
        def2,
      </if>
      <if test="def3 != null" >
        def3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="def1 != null" >
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        #{def3,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.BeautySchemaColumns" >
    update beauty_schema_columns
    <set >
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="def1 != null" >
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        def3 = #{def3,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beauty.entity.BeautySchemaColumns" >
    update beauty_schema_columns
    set data = #{data,jdbcType=VARCHAR},
      column_name = #{columnName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>